

#attach {
  width: 100%;
  height: 600px;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#attach text {
  pointer-events: none;
  fill:black;
      font-size: 10px;
}

#attach .grandparent text {
  font-weight: bold;
}

#attach rect {
  fill: none;
  stroke: #fff;
}

#attach rect.parent,
#attach .grandparent rect {
  stroke-width: 2px;
}

#attach .grandparent rect {
  fill: orange;
}

#attach .grandparent:hover rect {
  fill: #ee9700;
}

#attach .children rect.parent,
#attach .grandparent rect {
  cursor: pointer;
}

#attach .children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

#attach .children rect.child {
  fill: #bbb;
}
