@model int
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Department Page</title>
</head>
<body>
    <div>
        This is the department page with ID @Model.ToString()
    </div>
</body>
</html>
