@model object
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Department Page</title>
    <link rel="stylesheet" href="/CSS/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</head>
<body>


<button id='elecuse'>Show Renewable electricty use</button>
<button>Show Water Usage</button>
<button>Show Propane Usage</button>

    <div id="attach"></div>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/JS/d3.min.js"></script>
    <script src="/JS/findDepartments.js"></script>

<script src="/JS/treemap.js"></script>


</body>
</html>
