@model int
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Department Page</title>
    <link rel="stylesheet" href="/CSS/styles.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div>
    This is the department page with ID @Model.ToString()
</div>

<div id="attach"></div>

<script src="/JS/d3.min.js"></script>
<script src="/JS/treemap.js"></script>

</body>
</html>
