@model object
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Department Page</title>
    <link rel="stylesheet" href="/CSS/styles.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div>
    This is the department page with ID @Model.ToString()
</div>

<button>Show Renewable electricty use</button>
<button>Show Water Usage</button>
<button>Show Propane Usage</button>

<div id="attach"></div>

<script src="/JS/d3.min.js"></script>
<script src="/JS/treemap.js"></script>

    <script type="text/javascript">
        //var depts = d3.csv.parse("@Url.Content("~/Data/Departments.csv")");
        //alert(depts[0]["Acronym"]);
    </script>
</body>
</html>
