@model object
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Green Gov Challenge 2015";
    ViewBag.BodyClass = "internal";
}

<!--
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Department Page</title>
    <link rel="stylesheet" href="/CSS/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</head>
<body>


<button id='elecuse'>Show Renewable electricty use</button>
<button>Show Water Usage</button>
<button>Show Propane Usage</button>

    <div id="attach"></div>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/JS/d3.min.js"></script>
    <script src="/JS/findDepartments.js"></script>

<script src="/JS/treemap.js"></script>


</body>
</html>
-->

<header role="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Investing in California</h1>
            </div>
        </div>
    </div>
</header>

<main role="main">
    <div class="container m-b-lg">
        <div class="row">
            <div class="col-md-12">
                <h2>Department of Transportation</h2>
            </div>
        </div>
    </div>

    <div class="container m-b-lg">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="data-dashboard">
                    <div>
                        <span class="glyphicon glyphicon-tint data-type-water"></span>
                        <span class="data-value data-percent">27%</span>
                    </div>
                    <div class="data-description">Less water usage since 2012</div>
                </div>
                <!-- Chart Here -->
                  <div id="water" style="float: left; width: 255px; height: 120px"></div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="data-dashboard">
                    <div>
                        <span class="glyphicon glyphicon-leaf data-type-recycle"></span>
                        <span class="data-value data-percent">14%</span>
                    </div>
                    <div class="data-description">Increase in Green Energy</div>
                </div>
                <!-- Chart Here -->
                <div id="recycle" style="float:left;width:255px;height:120px"></div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="data-dashboard">
                    <div>
                        <span class="glyphicon glyphicon-flash data-type-energy"></span>
                        <span class="data-value data-percent">14%</span>
                    </div>
                    <div class="data-description">Decrease in energy used</div>
                </div>
                <!-- Chart Here -->
                <div id="energy" style="float:left;width:255px;height:120px"></div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="data-dashboard">
                    <div>
                        <span class="glyphicon glyphicon-globe data-type-co2e"></span>
                        <span class="data-value data-percent">14%</span>
                    </div>
                    <div class="data-description">Reduction in CO<sub>2</sub> Emissions</div>
                </div>
                <!-- Chart Here -->
                <div id="co2" style="float:left;width:255px;height:120px"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid m-b-lg">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Department Properties</h3>
                <div id="attach"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid m-b-lg">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Department Properties</h3>
                <iframe src="http://builder-stage.mapthat.co/" class="embed-mapthat"></iframe>
            </div>
        </div>
    </div>
</main>

<!-- New Untested -->
<link rel="stylesheet" href="/CSS/styles.css" media="screen" title="no title" charset="utf-8">
<script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/modules/data.js" type="text/javascript"></script>
<script src="/JS/d3.min.js"></script>
<script src="/JS/findDepartments.js"></script>
<script src="/JS/energyMetrics.js"></script>

<script src="/JS/treemap.js"></script>
