
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<body>
    <div>
        <p>This is the home page</p>
        <p>View the <a href="@Url.Content("~/Department?id=1")">sample department page</a></p>
    </div>
</body>
</html>
