@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Green Gov Challenge 2015";
    ViewBag.BodyClass = "homepage";
}

<header role="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="homepage-hero"></div>
                <h1>Leading By Example <small class="subtext">California State Government for a Greener California</small></h1>
            </div>
        </div>
    </div>
</header>

<main role="main">
    <div class="container m-b-lg m-t-lg">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase text-center">California at a glance in 2015</h2>
                 <div class="col-md-10 col-md-push-1"><p class="lead">California is leading the way in adopting green practices and technology. Governor Edmond G. Brown Jr. and the State of California has undertaken an ambitious green effort to reduce energy and water usage while increasing recycling efforts and use of alternative fuels. </p></div> 
            </div>
        </div>
    </div>

    <div class="container m-b-lg">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="data-dashboard">
                    <div>
                        <span class="glyphicon glyphicon-tint data-type-water" aria-hidden="true"></span>
                        <span class="data-value">22%</span>
                        <span class="glyphicon glyphicon-triangle-bottom status-success" aria-hidden="true"></span>
                    </div>
                    <div class="data-description">Water <strong>Reduction</strong> since 2010</div>
                </div>
                <!-- Chart Here -->
                <div id='totalwater' style="width:255px;height:120px"></div>
            </div>
            
            <div class="col-sm-6 col-md-3">
                <div class="data-dashboard">
                    <div>
                        <span class="glyphicon glyphicon-leaf data-type-recycle" aria-hidden="true"></span>
                        <span class="data-value">55%</span>
                        <span class="glyphicon glyphicon-triangle-top status-success" aria-hidden="true"></span>
                    </div>
                    <div class="data-description">Spent on <strong>Recycled Items</strong> </div>
                </div>
                <!-- Chart Here -->
                <div id="totalrec" style="width:255px;height:120px"></div>
            </div>
            
            <div class="col-sm-6 col-md-3">
                <div class="data-dashboard">
                    <div>
                        <span class="glyphicon glyphicon-flash data-type-energy" aria-hidden="true"></span>
                        <span class="data-value">14%</span>
                        <span class="glyphicon glyphicon-triangle-bottom status-success" aria-hidden="true"></span>
                    </div>
                    <div class="data-description">Energy <strong>Reduction</strong> since 2013</div>
                </div>
                <!-- Chart Here -->
                <div id='totalenergy' style="width:255px;height:120px"></div>
            </div>
            
            <div class="col-sm-6 col-md-3">
                <div class="data-dashboard">
                    <div>
                        <span class="glyphicon glyphicon-globe data-type-co2e" aria-hidden="true"></span>
                        <span class="data-value">55%</span>
                        <span class="glyphicon glyphicon-triangle-bottom status-success" aria-hidden="true"></span>
                    </div>
                    <div class="data-description"><strong>Reduction</strong> in CO<sub>2</sub> Emissions</div>
                </div>
                <!-- Chart Here -->
                <div id='totalelec' style="width:255px;height:120px"></div>
            </div>
        </div>
    </div>
</main>

<!-- New Untested -->
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/modules/data.js" type="text/javascript"></script>
<script src="/JS/d3.min.js"></script>
<script src="/JS/findDepartments.js"></script>
<script type="text/javascript">
    var lineColor = '#6F812A';
var dataco2 = [
  3284977.529,
  3290882.521,
  3356108.672,
  2410087.9,
  1489113.606
];
var categoriesco2 = [
  '2010',
  '2011',
  '2012',
  '2013',
  '2014'
]
$('#totalco2').highcharts({
  chart: {
      type: 'line',
      backgroundColor: 'rgba(0,0,0,0)'
  },
series: [{
    showInLegend: false,
    name: 'CO2e',
    color: lineColor,
        data: dataco2
    }],
  title: {
    text: null
  },
  xAxis: {
      labels: { enabled: false },
      categories: categoriesco2
  },
  yAxis: {
    title: {
      text: null
    }
  }
});

var dataenergy = [
  10175529048,
  8954086372.3
];
var categoriesenergy = [
  '2013',
  '2014'
]
$('#totalenergy').highcharts({
  chart: {
      type: 'line',
      backgroundColor: 'rgba(0,0,0,0)'
  },
series: [{
    showInLegend: false,
    name: 'Energy (kBtu)',
    color: lineColor,
        data: dataenergy
    }],
  title: {
    text: null
  },
  xAxis: {
      labels: { enabled: false },
      categories: categoriesenergy
  },
  yAxis: {
    title: {
      text: null
    }
  }
});

var datawater = [
  // TODO: Check
  11230032.4,
  9198228,
];
var catWater = [
  '2013',
  '2014'
]
$('#totalwater').highcharts({
  chart: {
      type: 'line',
      backgroundColor: 'rgba(0,0,0,0)'
  },
series: [{
    showInLegend: false,
    name: 'Water (kgal)',
    color: lineColor,
        data: datawater
    }],
  title: {
    text: null
  },
  xAxis: {
      labels: { enabled: false },
      categories: catWater
  },
  yAxis: {
    title: {
      text: null
    }
  }
});

var dataElec = [
  // TODO: Check if correct
  35613899.8 + 1204813644.8,
  70891819.5 + 1139234902.9
];
var catElec = [
  '2013',
  '2014'
]
$('#totalelec').highcharts({
  chart: {
      type: 'line',
      backgroundColor: 'rgba(0,0,0,0)'
  },
series: [{
    showInLegend: false,
    name: 'Electricity (GWh)',
    color: lineColor,
        data: dataElec
    }],
  title: {
    text: null
  },
  xAxis: {
      labels: { enabled: false },
      categories: catElec
  },
  yAxis: {
    title: {
      text: null
    }
  }
});

var dataRec = [
  // TODO: Check if correct
  67,
  70
];
var catRec = [
  '2013',
  '2014'
]
$('#totalrec').highcharts({
  chart: {
      type: 'line',
      backgroundColor: 'rgba(0,0,0,0)'
  },
series: [{
    showInLegend: false,
    name: 'Electricity (GWh)',
    color: lineColor,
        data: dataRec
    }],
  title: {
    text: null
  },
  xAxis: {
      labels: { enabled: false },
      categories: catRec
  },
  yAxis: {
    title: {
      text: null
    }
  }
});

</script>

<!-- This actually belongs on the department page. -->
<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <iframe src="http://builder-stage.mapthat.co/" class="embed-mapthat"></iframe>
        </div>
    </div>
</div>
-->
